<div class="container">
  <div class="row">
    <div class="card col-md-8 mx-auto">
      <div class="card-body">
        <h2 class="mt-1 mb-3  font_space">プロフィール編集</h2>
        <%= form_with model: @user, local: true do |f| %>
        <%= render 'layouts/errors', obj: @user %>

        <div class="form-group">
          <%= f.label :name, class: "form-label" %>
          <%= f.text_field :name, placeholder:"ユーザー名", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :profile_image %><br>
          <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
        </div>

        <div class="form-group">
          <%= f.label :introduction, class: "form-label" %>
          <%= f.text_area :introduction, placeholder: "自己紹介を入力してください", class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "変更を保存", class: "btn btn-success btn-block" %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>