<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3 mt-3">
      <%= render 'info', user: current_user %>
    </div>
    <div class="col-md-8 offset-md-1">
      <div class="row border-bottom">
        <div class="col-md  mt-3 text-center border-bottom">
          <h4><%= link_to '投稿一覧', user_path %></h4>
        </div>
        <div class="col-md  mt-3 text-center">
          <h4><%= link_to "お気に入り投稿一覧", like_user_path(@user) %></h4>
        </div>
      </div>
      <% @posts.each do |post| %>
      <div class="card mb-3 m-3">
        <div class="row no-gutters">
          <div class="col-lg-4 my-auto">
            <div class="post-image">
              <%= link_to post_path(post.id) do %>
                <%= attachment_image_tag post, :image, width: "100%", format: "jpeg", fallback: "no_image.jpg" %>
              <% end %>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="card-body">
              <h4 class="font-weight-bold"><%= post.title %></h4>
              <p class="card-text"><%= post.caption.truncate(24) %></p>
              <!-- post.spot.address -->
              <!-- 投稿に関連づけられた所在地を表示 -->

              <!-- post.tag.tag_name -->
              <!-- 投稿に関連づけられたタグを表示 -->

              <p>
                <%= post.created_at.strftime('%Y年%-m月%-d日')%>
                &nbsp|&nbsp
                <%= link_to user_path(post.user) do %>
                <%= post.user.name %>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <%= paginate @posts %>
    </div>
  </div>
</div>