<div class="form-group">
  <%= f.label :image %><br>
  <%= f.attachment_field :image %>
</div>

<div class="form-group">
  <%= f.label :title, class: "form-label" %>
  <%= f.text_field :title, placeholder:"タイトル", class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :caption, class: "form-label" %>
  <%= f.text_area :caption, placeholder: "説明文を入力してください", class: "form-control" %>
</div>

<div class="form-group">
  <%= f.fields_for :spot do |s| %>
    <%= s.label :address, "場所(Google Mapで検索)", class: "spot_title" %>
    <%= s.text_field :address, placeholder: "スポットを入力", id: "address", class: "spot_text" %>
  <% end %>
  <input type="button" onclick="codeAddress()" value="検索する">
  <div class="map" id="map" style="height: 320px; width: 400px;"></div>
</div>

<% if local_assigns[:edit_flag].present? %>
<!-- partialの指定したローカル変数に値が入っているか否かを判別し切り分ける -->
  <div class="actions">
    <%= f.submit "編集を完了する", class: "btn btn-success btn-block" %>
  </div>
<% else %>
  <div class="actions">
    <%= f.submit "投稿する", class: "btn btn-success btn-block" %>
  </div>
<% end %>