<div class="form-group">
  <%= "【必須】のついた項目は必ず入力・選択してください。" %>
</div>
<div class="form-group">
  <%= f.label :image %>
  <%= f.attachment_field :image %>
</div>

<div class="form-group">
  <%= f.label :title, class: "form-label" %><%= "【必須】" %>
  <%= f.text_field :title, placeholder: "タイトル", class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :caption, class: "form-label" %><%= "【必須】" %>
  <%= f.text_area :caption, placeholder: "説明文", class: "form-control" %>
</div>

<% if local_assigns[:edit_flag].present? %>
<!-- partialの指定したローカル変数に値が入っているか否かを判別し切り分ける -->
  <div class="form-group">
    <%= f.label :tag_name, class: "form-label" %><br>
    <%= "カンマ（,）で区切ることで複数のタグを付けることができます。" %><br>
    <%= "例：お土産,グルメ,穴場スポット" %>
    <%= f.text_field :tag_name, value: @tag_list, placeholder: "付けたいタグの名前", class: "form-control" %>
  </div>
<% else %>
  <div class="form-group">
    <%= f.label :tag_name, class: "form-label" %><br>
    <%= "カンマ（,）で区切ることで複数のタグを付けることができます。" %><br>
    <%= "例：お土産,グルメ,穴場スポット" %>
    <%= f.text_field :tag_name, placeholder: "付けたいタグの名前", class: "form-control" %>
  </div>
<% end %>

<div class="form-group">
  <%= f.label :prefecture_name, class: "form-label" %><%= "【必須】" %>
  <%= f.collection_select :prefecture_name, JpPrefecture::Prefecture.all, :name, :name, { prompt: "選択してください" }, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.fields_for :spot do |s| %>
    <%= s.label :address, "住所(Google Mapで検索)", class: "spot_title" %><%= "【必須】" %>
    <%= s.text_field :address, placeholder: "住所", id: "address", class: "spot_text" %>
  <% end %>
  <input type="button" onclick="codeAddress()" value="検索する">
  <div class="map" id="map" style="height: 320px; width: 100%;"></div>
</div>

<% if local_assigns[:edit_flag].present? %>
<!-- partialの指定したローカル変数に値が入っているか否かを判別し切り分ける -->
  <div class="actions">
    <%= f.button :type => "submit", class: "btn btn-success btn-lg btn-block" do %>
      <i class="far fa-edit"></i> 編集を完了する</i>
    <% end %>
  </div>
<% else %>
  <div class="actions">
    <%= f.button :type => "submit", class: "btn btn-success btn-lg btn-block" do %>
      <i class="fas fa-pen-fancy"> 投稿する</i>
    <% end %>
  </div>
<% end %>