<% @posts.each do |post| %>
<div>
  <%= attachment_image_tag post, :image %>
  <p><%= post.title %></p>
  <p><%= post.caption %></p>

  <!-- post.spot.address -->
  <!-- 投稿に関連づけられた所在地を表示 -->

  <!-- post.tag.tag_name -->
  <!-- 投稿に関連づけられたタグを表示 -->

  <p>
    <%= post.created_at.strftime('%Y年%-m月%-d日')
    %>&nbsp|&nbsp
    <%= post.user.name %>
  </p>
</div>
<% end %>