<div class="card col-sm-8 mx-auto my-5 p-3">
  <div class="card-body">
    <h1 class="card-title font-weight-bold"><%= @post.title %></h1>
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-6">
            <p class="vertical-middle">
              <%= attachment_image_tag @post.user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg", class: "rounded-circle" %>
            </p>
            <p class="vertical-middle">
              <%= link_to post_path(@post.id), class: "show-link" do %>
                <%= @post.user.name %>
               <% end %>
            </p>
            <p class="vertical-middle">
              &nbsp|&nbsp更新日：<%= @post.created_at.strftime('%Y年%-m月%-d日')%>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= attachment_image_tag @post, :image, width: "100%", height:"auto", format: "jpeg", fallback: "no_image.jpg" %>
  <div class="card-body">
    <p class="card-text"><%= @post.caption %></p>
    <% if @post.tags != nil %>
      <% @post_tags.each do |tag| %>
        <span class="card-text">
          <%= link_to tag.tag_name, tag_posts_path(tag_id: tag.id) %>
        </span>
      <% end %>
    <% end %>

    <% if @post.spot != nil %>
      <p class="card-text"><%= @post.spot.address %>
        <div class="show_maps" id="show_map" style="height: 320px; width: 100%;"></div>
      </p>
    <% end %>

    <% if current_user != @post.user %>
      <% if @post.liked_by(current_user).blank? %>
        <%= link_to " お気に入りに保存", post_likes_path(@post), method: :post, class: "btn btn-warning btn-lg btn-block far fa-star" %>
      <% else %>
        <%= link_to " 保存済み", post_like_path(@post,@post.liked_by(current_user)), method: :delete, class: "btn btn-warning btn-lg btn-block fas fa-star" %>
      <% end %>
    <% end %>

    <% if @post.user == current_user %>
      <%= link_to " 編集する", edit_post_path(@post), class: "btn btn-success btn-lg btn-block fas fa-edit" %>
      <hr class="border-dark">
      <%= link_to " 削除する", post_path(@post), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger btn-lg btn-block fas fa-trash-alt" %>
    <% end %>
  </div>
</div>