<div class="post-body">
  <p><%= @post.title %></p>


  <p>
    <%= image_tag('no_image_user.jpg') %>
    <%= @post.user.name %>
    &nbsp|&nbsp更新日：
    <%= @post.created_at.strftime('%Y年%-m月%-d日')%>
  </p>
  <%= attachment_image_tag @post, :image %>
  <p><%= @post.caption %></p>

  <!-- post.tag.tag_name -->
  <!-- 投稿に関連づけられたタグを表示 -->

  <!-- post.spot.address -->
  <!-- 投稿に関連づけられた所在地を表示 -->

  <% if @post.user == current_user %>
    <%= link_to "削除", post_path(@post), method: :delete, data: { confirm: '本当に消しますか？' } %>
  <% end %>
</div>