<div class="post-body">
  <p><%= @post.title %></p>
  <p>
    <%= attachment_image_tag @post.user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image_user.jpg" %>
    <%= @post.user.name %>
    &nbsp|&nbsp更新日：
    <%= @post.created_at.strftime('%Y年%-m月%-d日')%>
  </p>
  <%= attachment_image_tag @post, :image, :fill, 500, 500, format: 'jpeg', fallback: "no_image.jpg" %>
  <p><%= @post.caption %></p>

  <!-- post.tag.tag_name -->
  <!-- 投稿に関連づけられたタグを表示 -->

  <!-- post.spot.address -->
  <!-- 投稿に関連づけられた所在地を表示 -->

  <% if current_user != @post.user %>
    <div class="post-like">
      <% if @post.liked_by(current_user).blank? %>
        <%= link_to "お気に入りに保存", post_likes_path(@post), method: :post %>
      <% else %>
        <%= link_to "保存済み", post_like_path(@post,@post.liked_by(current_user)), method: :delete %>
      <% end %>
    </div>
  <% end %>

  <% if @post.user == current_user %>
    <%= link_to "編集する", edit_post_path(@post.id) %>
    <%= link_to "削除する", post_path(@post), method: :delete, data: { confirm: '本当に消しますか？' } %>
  <% end %>
</div>