<!DOCTYPE html>
<html>
  <head>
    <title>じもたび</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= include_gon %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= Gon::Base.render_data %>
    <link href="https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/header' %>
      <%= yield %>
    <%= render 'layouts/footer' %>
    <% if current_page?("/posts/#{params[:id]}") || current_page?(controller: 'posts', action: 'new') || current_page?("/posts/#{params[:id]}/edit") %>
      <script async defer src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["GOOGLE_MAP_KEY"]%>&callback=initMap"></script>
      <script async defer src="//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js"></script>
    <% end %>
  </body>
</html>
